<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>My Post</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/pstyles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <!-- <a class="navbar-brand" href="#!">Start Bootstrap</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1"><%=post.title%></h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %> By Admin</div>
                            <!-- Post categories-->
                        </header>
                        <%
                    if(post.image!==undefined && post.image!==""){
                        %>
                        <figure class="mb-4"><img class="img-fluid rounded" src="<%=post.image%>" alt="..." style="width: 480px; height: 350px;" /></figure>
                        <%
                    }
                    else{
                        %>
                        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></div>
                        <%

                    }
                    %>
                        <!-- Preview image figure-->
                
                        
                        <!-- <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure> -->
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4"><%=post.content%></p>
                            
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4" id="comment-form" method="POST" action="/post/<%=post._id%>/review">
                                    <!-- <input type="text"  name="id" value="<%=post._id%>" > -->
                                    <input type="text" name="name" required class="form-control mb-3" placeholder="Enter your name">
                                    <textarea class="form-control" name="comment" required rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                                    <button class="btn btn-success btn-sm" style="margin-top: 24px;">post comment</button>
                                </form>
                                <p class="com-status" style="color: green;"></p>
                                <!-- Comment with nested comments
                                <div class="d-flex mb-4">
                                    Parent comment
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                        Child comment 1
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                            </div>
                                        </div>
                                        Child comment 2
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                When you put money directly to a problem, it makes a good headline.
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- Single comment-->
                                <!-- <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3">

            
            
            <%for(let review of post.reviews){%>
                <section style="margin-top: -94px; margin-left: -212px;" >
                    <div class="container my-5 py-5">
                      <div class="row d-flex justify-content-center">
                        <div class="col-md-12 col-lg-10" style="margin-top: -25px;">
                          <div class="card text-dark" style="width: 76%; height: 96%;">
                            <div class="card-body p-4" >
                              
                  
                              <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3"
                                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                                  height="60" />
                                <div>
                                  <h6 class="fw-bold mb-1"><%=review.name%></h6>
                                  <div class="d-flex align-items-center mb-3">
                                    <p class="mb-0">
                                        <%if(review.createdAt){%>
                                            <p class="text-muted"><%=review.createdAt.toDateString()%></p>
                
                                        <%}%>
                                      <img src="https://i.pinimg.com/736x/df/01/80/df01803b2f9f76d3e662e105f773f7a1.jpg" alt="" style="height: 25px; width: 25px; margin-left: 358px;">
                                     
                                      <span>10 likes</span>
                                      <span class="badge bg-primary" style="margin-left: 12px;">like comment</span>
                    
                                    </p>
                        
                                  </div>
                                  <p class="mb-0" style="margin-top: -22px;">
                                    <%=review.comment%>
                                  </p>
                                </div>
                              </div>
                            </div>
                        </div>
                        </div>
                        </div>
                        </div>
                            </section>
                  
    
            <%}%>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        
           
                    
                
           
    </body>
</html>
